.simlink:hover {
    color: #0000ff;
    cursor: pointer;
}

a.button,
a.button:visited
{
    display: inline-block;
	color: #fff !important;
	text-decoration: none;
	margin-top: 10px; 
	padding: 5px;
	border: none;
	background-color: #5e5b54;
	font-weight: bold !important;
	font-size: 12px !important;
    font-family: Helvetica,Arial,sans-serif !important;
    cursor: pointer;
}
a.button:hover
{
	background-color: #000;
	color: #e7e7e7 !important;
}
.round { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }